body {
	padding: auto;
	margin: 20px;
}
.nav{
	/*border: 2px solid blue;*/
	width: 1250px;
	height: 120px;
}
.title{
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
#title{
	font-size: 2em;
}
.address{
	float: right;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 7px 8px;
}
#address{
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 7px 8px;
}
.form{
	margin-bottom: 30px;
}
.navbar{
	/*border: 2px solid green;*/
	width: 1250px;
	height: 50px;
}
#nav-item {
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
#dropdown {
	text-decoration: none;
	border: none;
}
.section{
	/*border: 2px solid brown;*/
	width: 1250px;
	height: 500px;
	background-image: url(hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}
.callout{
	/*border: 5px solid green;*/
	background-color: rgb(52, 39, 138);
	height: 440px; 
	width: 350px;
    position: absolute;
    top: 80%;
    left: 20%;
	margin-bottom: 20px;
	transform: translate(-50%,-50%);
	float: none;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
}
#callout{
	float: none;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	padding: 14px 16px;
}
.white{
	color: white;
	font-size: 2.5em;
}
.blue{
	color: aqua;
	font-size: 2.5em;
}
#white{
	color: white;
	font-size: 1.2em;
} 
.button{
	color: white;
	background-color: rgb(8, 71, 122);
	height: 30px;
}
.tag{
	/*border: 2px solid yellow;*/
	width: 1250px;
	height: 300px;
}
.tagOne{
	float: left;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 1.8em;
	margin: 40px;
}
.tagTwo{
	float: right;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 1.5em;
	margin-left: 40px;
}
.simple{
	/*border: 2px solid brown;*/
	width: 1250px;
	height: 600px;
	background-color: rgb(21, 3, 73);
}
#simple{
	float: left;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 1.2em;
	margin: 40px;
}
.img{
	float: left;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 1.2em;
}
#img{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: 40px;
}
.content{
	float: right;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 1em;
}
.content h2{
	color: rgb(19, 119, 201);
	font-size: 1.5em;
	font-weight: bold;
}
.content p{
	color: white;
	font-size: 1em;
}
.heading{
	/*border: 2px solid aqua;*/
	width: 1250px;
	height: 316px;
}
#heading h2{
font-size: 2em;
margin: 40px;
}
#heading p{
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-left: 40px;
}
#head{
	float: none;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	
}
.headButton{
	color: white;
	background-color: rgb(8, 71, 122);
	height: 30px;
	margin-left: 40px;
}
.headLink{
	color: dodgerblue;
	text-decoration: underline;
}
.footer{
	/*border: 2px solid pink;*/
	width: 1250px;
	height: 300px;
	margin-top: 10px;
}
.footLink{
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	height: 60px;
	/*border: 2px solid maroon;*/
	width: 1250px;
	background-color: gainsboro;
}
#footLink{
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	margin-left: 60px;
}
#footLink a p {
	font-weight: bolder;
	font-size: 1.4em;
	color: black;
	text-decoration: none;
}
.footerInfo{
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	height: 240px;
	/*border: 2px solid maroon;*/
	width: 1250px;
	background-color: grey;
}
.itemOne{
	height: 240px;
	width: 600px;
	/*border: 2px solid black;*/
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
}
.name{
	float: left;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 1em;
	margin-top: 70px;
}
.itemTwo{
	height: 140px;
	width: 600px;
	/*border: 2px solid black;*/
	float: right;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}
.socialmediaIcons{
	float: right;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	height: 240px;
	width: 500px;
	margin: 40px;
	padding-left: 5em;
}
#socialmediaIcons{
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	margin-left: 0.5em;
	padding-left: 1em;
}
#socialmediaIcons img {
	margin-inline-start: 45px;
    width: 40px;
    height: 40px;
}
.socialmediaIcons h2{
	float: right;
	display: flex;
	color: black;
	text-align: right;
	text-decoration: none;
	margin-left: 5em;
}
.agency {
	float: right;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
}
#agency {
	float: left;
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	margin: 20px;
}